:root {
	--bgPink:#F5D2CC;
	--blue:#25275E;
	--pink:#DA9692;
	--white:#F7F7F7;
}

* {
	box-sizing:border-box;
}

*::before, *::after {
	position:absolute;
	content:'';
	color:var(--blue);
}

html, body {
	background-color: var(--bgPink);
	background-color: #F5D2CC;
	width:100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: "微軟正黑體";
	color: var(--blue);
}
.year {
	font-size: 15px;
	font-weight: bold;
	vertical-align:middle;
}

.container {
	position:relative;
	width:80%;
	max-width: 900px;
	height:auto;
	margin: 50px auto;
	padding: 0;
	background-color: var(--white);
	background-color: #F7F7F7;
	overflow:hidden;
}

.section {
	padding-top: 60px;
	padding-left: 60px;
	padding-right: 60px;
	width:50%;
	height:auto;
	float: left;
}

.block_line {
	position:absolute;
	left:50%;
	width:2px;
	height:86%;
	top: 7%;
	background: var(--blue);
}

.logo {
	position:relative;
	width:100px;
	height:100px;
	border:2px solid var(--blue);
	font-size: 28px;
	line-height: 1.5em;
	margin-bottom: 40px;
	display: inline-block;
}

.logo::before {
	content:'CHEN \A E J';
	white-space: pre;
	margin-left:6px;
	margin-top: 6px;
}

.logo::after {
	width:0;
	height:0;
	border:8px solid var(--blue);
	border-color:transparent transparent transparent var(--blue);
	bottom:-3px;
	right: -3px;
	transform:rotate(45deg);
}
.languages {
	position: relative;
	margin-top: 40px;
	width:80px;
	height:30px;
	border:2px solid #DA9692;
	float: right;
	cursor: pointer;
	font-size: 11px;
	line-height: 28px;
}
.languages::after, .languages::before {
	width:50%;
	height:100%;
	text-align: center;
}
.languages::after {
	background-color: #DA9692;
	content: '中文';
	color:#F7F7F7;
	left:0;
	transition: .2s;
}
.languages::before {
	background-color: transparent;
	content: 'EN';
	color:#DA9692;
	right:0;
}
.lang_toggle {transition: .2s;}
.lang_toggle::after {
	background-color:transparent;
	color: #DA9692;
}
.lang_toggle::before {
	background-color:#DA9692;
	color: #F7F7F7;
}
.name {
	font-size: 22px;
	font-weight: bold;
}

.career {
	padding-top: 10px;
	font-size: 16px;
	color:var(--pink);
	letter-spacing:.1em;
}
.a_link {
	width:auto;
	height:auto;
	border: 1px solid #DA9692;
	color:#DA9692;
	font-size: 14px;
	display: inline-block;
	padding: 5px;
	margin-right: 15px;
	transition:.3s;
}
.a_link:hover {
	background: #DA9692;
	color:#F7F7F7;
	cursor: pointer;
}
.content {
	margin-top: 60px;
	margin-bottom: 40px;
	position:relative;
	width:100%;
	color:var(--blue);
	height:auto;
}
.content > p {
	text-align: justify;
	font-size: 13px;
	letter-spacing:.1em;
	line-height: 1.5em;
}
.title {
	width:100%;
	height:2px;
	background: var(--blue);
	font-size: 18px;
	letter-spacing: .5em;
	font-weight: bold;
	margin-bottom: 45px;
}
.title::after {
	width: auto;
	background: var(--white);
	left:50%;
	top:-.5em;
	transform: translate(-50%);
	padding-left: .5em;
	white-space:nowrap;
}
.title_about_me::after {
	content:'關於我';
}
.title_experience::after {
	content:'工作/實習經驗';
}
.title_exhibitions::after {
	content:'展覽經驗';
}
.title_pro_skills::after {
	content:'專業技能';
}
.title_f2e_skills::after {
	content:'前端技能';
}
.title_other_skills::after {
	content:'其它技能';
}
.title_toggle {
	letter-spacing:.1em;
	padding-right:.5em;
}
.title_toggle:nth-child(n)::after {
	padding-right:.5em;
}
.title_toggle.title_about_me::after{
	content:'About Me';
}
.title_toggle.title_experience::after{
	content:'Works Experience';
}
.title_toggle.title_exhibitions::after{
	content:'Exhibitions';
}
.title_toggle.title_pro_skills::after{
	content:'Skills';
}
.title_toggle.title_f2e_skills::after{
	content:'Front-end Skills';
}
.title_toggle.title_other_skills::after{
	content:'Other Skills';
}
.chart {
	position: relative;
	width:50px;
	height:50px;
	border-radius: 50%;
	border:7px solid #F2DADA;
	margin: 0 auto;
	margin-bottom: 14px;
}
.chart::after {
	width: 100%;
	height:100%;
	border:7px solid #DA9692;
	border-radius: 50%;
	transform: translateX(-50%) rotate(-45deg);
	top:-7px;
}
.skill {
	position:relative;
	font-size: 13px;
	letter-spacing:.1em;
	line-height: 2em;
}
.skill_container {
	width: 100%;
	height:auto;
	overflow:hidden;
}
.skill_container > .skill {
	float: left;
	width:33.33%;
	text-align: center;
	font-size: 12px;
	transition: .3s;
}
.skill_container :first-child > .chart::after {
	border-color: transparent #DA9692 #DA9692 transparent;
}
.skill_container :nth-child(2) > .chart::after {
	border-color: transparent #DA9692 #DA9692 #DA9692;
}
.skill_container :last-child > .chart::after {
	border-color: transparent #DA9692 #DA9692 transparent;
}
.id {
	display: inline;
}
.bar {
	position:relative;
	float: right;
	display: inline-block;
	width:130px;
	height:8px;
	border-radius: 5px;
	border:1px solid #DA9692;
	transform: translateY(100%);
	overflow:hidden;
}
.bar::after {
	/*width:50%;*/
	height:100%;
	background: #DA9692;
}
.f2e_skills_container :nth-child(1) > .bar::after{
	width:75%;
}
.f2e_skills_container :nth-child(2) > .bar::after{
	width:80%;
}
.f2e_skills_container :nth-child(3) > .bar::after{
	width:60%;
}
.f2e_skills_container :nth-child(4) > .bar::after{
	width:60%;
}
.f2e_skills_container :nth-child(5) > .bar::after{
	width:55%;
}
.f2e_skills_container :nth-child(6) > .bar::after{
	width:70%;
}
.f2e_skills_container :nth-child(7) > .bar::after{
	width:50%;
}
.f2e_skills_container :nth-child(8) > .bar::after{
	width:35%;
}
.other_skills_container :nth-child(1) > .bar::after {
	width:90%;
}
.other_skills_container :nth-child(2) > .bar::after {
	width:86%;
}
.other_skills_container :nth-child(3) > .bar::after {
	width:65%;
}
.other_skills_container :nth-child(4) > .bar::after {
	width:80%;
}
@media (max-width: 950px) {
	.section {
		float: none;
		width:100%;
	}
	.block_line {
		display: none;
	}
	.section_two {
		padding-top: 0;
	}
}
@media (max-width: 500px) {
	.container {
		margin-top: 30px;
		width: 90%;
	}
	.section {
		padding-top: 60px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.section_two {
		padding-top: 0;
	}
}
